compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
  };


COMBO(esc, &kp ESC, LT2 LT3)
COMBO(ent, &kp ENTER, RB2 RB3)
COMBO(bspc, &kp BSPC, RT2 RT3)
COMBO(bracket, &macro_bracket, LT0 RT0)
COMBO(parentheses, &macro_parentheses, LM0 RM0)
COMBO(brace, &macro_brace, RB0 LB0)
COMBO(caps_word, &caps_word, LB2 LB3)
