// copied from: https://github.com/dxmh/zmk-config/blob/main/config/macros.dtsi
#define str(s) #s
#define MACRO(NAME, BINDINGS) \
  macro_##NAME: macro_##NAME { \
      compatible = "zmk,behavior-macro"; \
      label = str(macro_##NAME); \
      #binding-cells = <0>; \
      wait-ms = <30>; \
      tap-ms = <40>; \
      bindings = <BINDINGS>; \
  };

  MACRO(parentheses, &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT)
  MACRO(brace, &kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT)
  MACRO(bracket, &kp LBKT &kp RIGHT_BRACKET &kp LEFT)

  // macos screenshot for selection
  MACRO(screenshot, &kp LG(LC(LS(NUMBER_4))))